body {
  background-color: #EFB6C8;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 5px solid white;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: #EFB6C8;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 700px;
  object-fit: cover;
  border: 5px solid white;
}

h2{
  color: #B4EBE6;
   font-family: "Rubik Spray Paint", system-ui;
  font-weight: 200;
  font-style: normal;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}